<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Woojin's World</title>

<style>
	*{
		margin:0;
		padding:0;
	}

	header{
		
		width:1900px;
		heigth:50px;
		background:yellow;
		margin:0 auto;
	}
	
	div{
		width:415px;
		margin:0 auto;
		padding:20px;
		float:left;
		font-size:30px;
		
	}
	
	header:first-child(){
		width:550px;
	}
</style>

</head>
<body>
	<header>
		<div>안녕하세요.</div>
		<div>반갑습니다.</div>
		<div>안녕하가세요.</div>
		<div>어서오세요.</div>
	</header>
</body>
</html>